@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
  font-family: 'Press Start 2P';
  font-size: 16px;
  color: whitesmoke;
}

.main-header{
  height: 150px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  background-color: whitesmoke;
  background-image: linear-gradient(0deg, black, rgb(78,79,83));
}

.main-header .duck{

}

.container{
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  background-color: rgb(78,79,83);
  padding: 10px 0;
}

.keysettings{
  padding: 10px;
  width: 100px;
  height: 66px;
}

.control-logo img{
  width: 100%;
}

.keysettings ul{
  padding: 10px 0;
}

.keysettings ul li{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 2px 0;
}

.keysettings ul li img{
  width: 100%;
}

.keysettings ul li span{
  text-align: left;
  align-self: center;
  font-size: 14px;
}

.keysettings ul li p{
  font-size: 14px;
}

.key{
  width: 20%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  background-color: whitesmoke;
  border: 1px solid black;
}

.key>span{
  font-size: 14px;
  color: black;
  margin: 0 auto;
}


.btn{
  width: 20%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-btn{
  border-radius: 5px;
  background-color: black;
  color: whitesmoke;
  padding: 3px;
  width: 100%;
  font-size: 10px;
}

.start-btn>span{
  display: flex;
  justify-content: center;
  font-size: 10px;
}

.canvas-container{
  position: relative;
}

#canvas {
  border: 5px solid black;
  border-radius: 10px;
}

.main-footer{
  padding: 20px 0;
  background-color: black;
}

.main-footer>p{
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
  color: white;
}

/* CSS PAUSED screen */

@keyframes blinking {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

.crt-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  position: absolute;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  font-family: 'Press Start 2P';
  color: whitesmoke;
}

.crt-content .options-btn{
  font-size: 30px;
  padding: 10px;
  background-color: black;
  color: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  margin-top: 10px;
}

.crt-content>p {
  font-size: 80px;
}

.crt-content .paused {
  font-size: 35px;
}

.options p:hover{
  animation: blinking 1s infinite;
}

.blink {
  animation: blinking 1s infinite;
}